<div id="black">
</div>



<div id="homepage">
  <h1>Bienvenue sur Veasit</h1>
<h3>Le meilleur moyen d'organiser vos recherches de logement</h3>
<br/>
Vous utilisez actuellement une version beta de l'application <i style="font-size:80%">(chanceux!)</i><br/>
Si vous repèrez le moindre bug, n'hésitez pas à me contacter !<br/>
<u>laurent.fite(at)gmail.com</u>
<br/><br/>
En attendant vous pouvez essayer Veasit en créant une liste<br/><br/>
<a href="#" class="btn btn-lg btn-warning">Créer une liste</a>
<br/><br/>
<div class="row" style="width: 80%; margin: auto; padding:3em">
  <div class="col-md-4">
    <b>À quoi ça sert ?</b>
    <p>Grâce à Veasit, toutes les annonces de logement qui vous intéressent se retrouvent
      au même endroit.<br/>
      De cette manière, vous êtes plus organisés et vous gagnez du temps ;)
  </div>
  <div class="col-md-4">
    <b>Comment ça marche ?</b>
    <p>Il vous suffit de créer une liste, et de rajouter des annonces dans l'outil.<br/>
      Veasit va analyser l'annonce et vous résumer toutes les informations importantes (comme par
      exemple l'adresse, si elle est écrite dans la description).
  </div>
  <div class="col-md-4">
    <b>Où ça en est ?</b>
    <p>Nous sommes deux développeurs à travailler sur ce projet. Pour l'instant
      seules les annonces du bon coin peuvent être rentrées dans l'outil mais nous
      avons plein d'idées en réserve pour faire de votre recherche de logement
      une partie de plaisir ! ;)</p>
  </div>
</div>
</div>
