/* Add a link */
@media screen and (min-device-width: 480px) {
  #add-entry{
    width: 50%; margin: auto;
    margin-bottom: 2em;
  }
}
@media screen and (max-device-width: 480px) {
  #add-entry{
    width: 90%; margin: auto;
    margin-bottom: 2em;
  }
}
#add-entry input:focus{
  border: 2px solid #ccc;
}

#mobile-footer{
  position:fixed;
  bottom:0;
  width:100%;
  background:rgba(0,0,0,0.7);
  color:white;
  font-size:90%;
  text-align:right;
  padding:0.3em 1em;
  z-index: 9000;
}

/* Warning when email is not filled in */
#warning-mail{
  width:90%;margin:auto;
  padding-bottom: 2em;
  position: relative;
  top: 1em;
  z-index: -1; /* Necessary to put behind the table */
}

/* Compact view */

.item{
  background:white;
  width:95%;
  margin:auto;
  border:1px solid #ccc;
  box-shadow:2px 0 5px rgba(0,0,0,0.3);
}
.basic-info{
  padding: 6%;
}
.basic-info input{
  width: 85%;
  margin-left: 3%;
  font-size: 90%;
}
.notes{
  font-size:90%;
  width:100%;
  border:0;
  background:#222;
  color:white;
  height:6em;
  padding: 0.5em;
}
.item select{
  background-color: #eaeaea;
  margin-top: 0.5em;
}
.item span.delete-entry{
  background: red;
  padding: 0.7em;
  border-radius: 3px;
  position:absolute;right:1em;top:0.5em;
  color: white;
}
.item i.see-entry{
  background: #2196F3;
  padding: 0.7em;
  border-radius: 3px;
  position:absolute;right:4em;top:0.5em;
  color: white;
}

@media screen and (min-device-width: 480px) {
  .item{
  }
}
@media screen and (max-device-width: 480px) {
  .item{
    margin-bottom: 2em;
  }
  .basic-info input{
    font-size: 130%;
  }
}



/* Table */
#table{
  font-family: Roboto;
  padding: 1em;
  background: #fff;
  width: 90%; margin: auto;
  min-height: 200px;
  max-height: 510px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 0.3em;
  overflow: scroll;
}

#loading{
  opacity:0.5;
  filter:blur(1px);
}

/* Entries */
.entry .big{
  text-align:right;
  width: 80%;
  font-size:130%;
}

/* Entry - Desc */
.desc{
  font-size: 80%;
}
.desc textarea{
  width: 100%; min-height: 150px;
  border: none; background: none;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  color: #666;
}
.desc textarea:focus{
  border-left: 1px solid #2196F3;
  color: black;
}

/* Entry - State */
.state select{
  width: 100%;
  margin-bottom: 1em;
}

.state textarea{
  font-size: 80%;
  width: 100%; min-height: 100px;
  border: none; background: none;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  color: #666;
}
.state textarea:focus{
  border-left: 1px solid #2196F3;
  color: black;
}


/* Entry - address */
.entry .address{
  text-align:center;
  color: #666;
  font-weight: bold;
}
.entry .address input{
  width: 90%;
  text-align:center;
}

/* Entry - actions */
td span.delete-entry{
  color: red;
}
td span.delete-entry:hover{
  cursor: pointer;
}
