/* Add a link */
#add-entry{
  width: 50%; margin: auto;
  margin-bottom: 2em;
}
#add-entry input:focus{
  border: 2px solid #ccc;
}

/* Warning when email is not filled in */
#warning-mail{
  width:90%;margin:auto;
  padding-bottom: 2em;
  position: relative;
  top: 1em;
  z-index: -1; /* Necessary to put behind the table */
}

/* Table */
.basic-info{
  padding: 6%;
}
.basic-info input{
  width: 85%;
  margin-left: 3%;
  font-size: 90%;
}
.notes{
  font-size:70%;
  width:100%;
  border:0;
  background:#222;
  color:white;
  height:6em;
  padding: 0.5em;
}

span.delete-entry{
  position:absolute;right:1em;top:0.5em;
  color: white;
  text-shadow: 1px 1px 3px red;
}
