/* Add a link */
#add-entry{
  width: 50%; margin: auto;
  margin-bottom: 2em;
}
#add-entry input:focus{
  border: 2px solid #ccc;
}

/* Warning when email is not filled in */
#warning-mail{
  width:90%;margin:auto;
  padding-bottom: 2em;
  position: relative;
  top: 1em;
  z-index: -1; /* Necessary to put behind the table */
}

/* Table */
#table{
  font-family: Roboto;
  padding: 1em;
  background: #fff;
  width: 90%; margin: auto;
  min-height: 200px;
  max-height: 510px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  border-radius: 5px;
  margin-bottom: 0.3em;
  overflow: scroll;
}

#loading{
  opacity:0.5;
  filter:blur(1px);
}

/* Entries */
.entry .big{
  text-align:right;
  width: 80%;
  font-size:130%;
}

/* Entry - Desc */
.desc{
  font-size: 80%;
}
.desc textarea{
  width: 100%; min-height: 150px;
  border: none; background: none;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  color: #666;
}
.desc textarea:focus{
  border-left: 1px solid #2196F3;
  color: black;
}

/* Entry - State */
.state select{
  width: 100%;
  margin-bottom: 1em;
}

.state textarea{
  font-size: 80%;
  width: 100%; min-height: 100px;
  border: none; background: none;
  border-left: 1px solid #ccc;
  padding-left: 1em;
  color: #666;
}
.state textarea:focus{
  border-left: 1px solid #2196F3;
  color: black;
}


/* Entry - address */
.entry .address{
  text-align:center;
  color: #666;
  font-weight: bold;
}
.entry .address input{
  width: 90%;
  text-align:center;
}

/* Entry - actions */
.delete-entry{
  color: red;
}
.delete-entry:hover{
  cursor: pointer;
}
