<div id="black">
</div>


<div id="header">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6" id="brand">
      veasit
    </div>

    <div class="col-md-3" style="text-align:right;">
      <a href="https://www.facebook.com/Veasit-710336875792835" target="_blank">
        <i style="color: #999;margin-top: 15px;" class="fa fa-facebook" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>


<div id="homepage">
  <h1 style="font-family: Jaapokki;">AMÉLIOREZ VOS RECHERCHES DE LOGEMENT</h1>
  <p style="text-align:center;font-family: Roboto; font-weight: 300; font-size: 160%">
    Gérez toutes les annonces qui vous plaisent à partir du même endroit
  </p>
  <img src="img/demo.png" width="40%" alt="Présentation de l'outil" style="margin-bottom: 2em"/><br/>

<a href="#" ng-click="createList()" class="btn btn-lg btn-warning">Créer votre liste</a>

<br/><br/>
<div style="width: 100%; background: white; padding: 2% 10%; color: #666;">
  <div class="row">
    <div class="col-md-4">
      <i style="color:rgb(0,160,250); font-size: 600%" class="fa fa-life-ring" aria-hidden="true"></i><br/>
      <b style="line-height: 5;">À quoi ça sert ?</b>
      <p>Trop d'annonces ouvertes dans votre navigateur en même temps ?
        Vous n'arrivez pas à retrouver le post-it où vous avez noté le numéro du propriétaire
        et l'heure de RDV ?<br/>
        Simplifiez vous la vie, utilisez Veasit !</p>
    </div>
    <div class="col-md-4">
      <i style="color:rgb(0,160,250); font-size: 600%" class="fa fa-wrench" aria-hidden="true"></i><br/>

      <b style="line-height: 5;">Comment ça marche ?</b>
      <p>Il vous suffit de créer une liste, et de rajouter des annonces dans l'outil.<br/>
        Veasit va analyser l'annonce et vous résumer toutes les informations importantes (comme par
        exemple l'adresse, si elle est écrite dans la description).
    </div>
    <div class="col-md-4">
      <i style="color:rgb(0,160,250); font-size: 600%" class="fa fa-laptop" aria-hidden="true"></i><br/>

      <b style="line-height: 5;">Envie de tester ?</b>
      <p>Nous sommes deux développeurs à travailler sur ce projet. Pour l'instant
        seules les annonces du bon coin peuvent être rentrées dans l'outil mais nous
        avons plein d'idées en réserve pour faire de votre recherche de logement
        une partie de plaisir ! ;)<br/>
      Créez votre liste dès maintenant pour tester !</p>
    </div>
  </div>
</div>
</div>
