
<div id="header" class="hidden-xs">
  <div class="row">
    <div class="col-md-3">
      <form name="EmailForm">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <input required ng-change="changed()" name="email" ng-pattern="emailFormat" type="text" ng-model="data.email" autocomplete="off" class="form-control" placeholder="Votre adresse email" aria-describedby="basic-addon1">
        </div>
      </form>
    </div>

    <div class="col-md-6" style="text-align:center;line-height:1">
      <a href="/" id="brand">veasit</a><br/>
      <a href="#" class="label label-default" ng-click="changeView('table')">table</a>
      <a href="#" class="label label-default" ng-click="changeView('search')">search</a>
    </div>

    <div class="col-md-3">

      Dernière sauvegarde le<br/>
      <i ng-if="!saving">{{data.lastsave}}</i>
      <span ng-if="saving" class="label label-success">Success</span>
    </div>
  </div>
</div>

<div id="header" class="visible-xs">
  <div class="row">
    <div class="col-xs-12" id="brand">
      <a href="/">veasit</a>
    </div>

    <div class="col-xs-12">
      <form name="EmailForm">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <input required ng-change="changed()" name="email" ng-pattern="emailFormat" type="text" ng-model="data.email" autocomplete="off" class="form-control" placeholder="Votre adresse email" aria-describedby="basic-addon1">
        </div>
      </form>
    </div>
  </div>
</div>

<div id="mobile-footer" class="visible-xs">
  <div class="row">
    <div class="col-xs-12">

      Dernière sauvegarde le<br/>
      <i ng-if="!saving">{{data.lastsave}}</i>
      <span ng-if="saving" class="label label-success">Success</span>
    </div>
  </div>
</div>

<div id="add-entry" ng-if="view=='table'">
  <div class="alert alert-warning" ng-if="!AddForm.link.$valid"><b>Oh non!</b> Ce lien n'est pas valide. Peut-être que ce site n'est pas encore accepté sur notre plateforme.<br/>
    N'hésitez pas à nous envoyez un message sur <a style="color: yellow;" href="https://www.facebook.com/veasit/" target="_blank">Facebook</a> pour nous prévenir ;)</div>
    <form name="AddForm">
        <div class="input-group">
          <input type="text" name="link" autocomplete="off" ng-pattern="linkFormat" class="form-control" ng-model="link" placeholder="Lien vers une annonce (LeBonCoin, SeLoger, PAP, ParuVendu, FNAIM38, AVendreALouer)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="sendLink(link)" ng-disabled="link == null || link.length < 15 || !AddForm.link.$valid">
              <span class="hidden-xs">Ajouter</span>
              <span class="visible-xs">+</span>
            </button>
          </span>
        </div>
    </form>
</div>


<div id="warning-mail" ng-if="view=='table' && data.list.length != 0 && !EmailForm.email.$valid && !unsaved_changes" class="alert alert-warning">
<i>Renseignez une adresse email pour activer la <b>sauvegarde automatique des données</b>.</i>
</div>

<div id="warning-mail" ng-if="view=='table' && data.list.length != 0 && !EmailForm.email.$valid && unsaved_changes" class="alert alert-danger">
<i>Vous avez des données non sauvegardées ! Renseigner une adresse email pour sauvegarder (sinon vous allez tout perdre, ce serait dommage).</i>
</div>


<div id="table" ng-if="view=='search'" style="padding: 0;">
  <div class="row" style="text-align:center; color: #999;">
    <div class="col-md-3" id="left-search">
      <h4>Lancez vos recherches !</h4>
      <!--
      <pre>{{search}}</pre>
      -->

      <form>
        <input type="text" ng-model="search.cp" placeholder="Code postal"/><br/>

        <input type="radio" ng-model="search.search_type" name="search_type" value="buy"/> Achat
        <input type="radio" ng-model="search.search_type" name="search_type" value="loc"/> Location<br/>

        <input type="radio" ng-model="search.house_type" name="house_type" value="flat"/> Appartement
        <input type="radio" ng-model="search.house_type" name="house_type" value="house"/> Maison<br/>

        <h4 style="text-align: left;">Surface</h4>
        <input type="text" ng-model="search.superf_min" name="superf_min" placeholder="Surface minimum" style="width: 40%;"/>
        <input type="text" ng-model="search.superf_max" name="superf_max" placeholder="Surface maximum" style="width: 40%;"/>
        <h4 style="text-align: left;">Prix</h4>
        <input type="text" ng-model="search.price_min" name="price_min" placeholder="Prix minimum" style="width: 40%;"/>
        <input type="text" ng-model="search.price_max" name="price_max" placeholder="Prix maximum" style="width: 40%;"/>

        <a class="btn btn-success" style="width: 80%; margin-top:2em;" ng-click="getInfo()">Recherche</a>
      </form>
    </div>
    <hr class="visible-xs"/>
    <div class="col-md-9">

        <div class="row" ng-repeat="a in list" style="text-align:left;border-bottom:1px solid #ccc">
          <a href="{{a.url}}"><img class="col-md-2" src="{{a.img}}" alt="img"/></a>
          <div class="col-md-9">
            <h4><b>{{a.title}}</b> {{a.info}}</h4>
            <p style="font-size:150%">{{a.price}} € | {{a.superf}} m2</p>
            <p style="text-align:right">Ajoutée le <i>{{a.date}}</i></p>
          </div>

          <a class="col-md-1 btn btn-info" ng-click="sendLink(a.url)">Ajouter</a>
        </div>

    </div>
  </div>
</div>






















<div id="table" class="hidden-xs" ng-if="view=='table'">

  <div style="text-align:center;" class="alert alert-info" ng-if="data.list.length == 0">
    <b>Oh non !</b> Vous n'avez pas d'annonce dans cette liste.<br/>
    Copiez/collez un lien vers une annonce dans la barre en haut puis cliquez sur <b>Ajouter</b>.
  </div>

  <div ng-if="data.list.length == 0" class="row" style="text-align:center; color: #999; padding-bottom: 2em;">
    <div class="col-md-12">
      <h4>Lancez vos recherches !</h4>
      <p>cliquez <a href="#" ng-click="changeView('search')">ici</a> pour lancer vos recherches</p>
    </div>

  </div>

  <table class="table table-striped" ng-if="data.list.length != 0">
    <tr>
      <th>Aperçu</th>
      <th>Informations</th>
      <th>Description</th>
      <th>État</th>
      <th>Adresse</th>
      <th></th>
      <th></th>
    </tr>

    <tr ng-if="loading" id="loading">
      <td><img src="http://placehold.it/130x90"></td>
      <td><img src="../img/loading.gif" width="30px"/></td>

      <td class="desc" width="30%">
        <textarea placeholder="Loading..."></textarea>
      </td>

      <td class="state" width="13%">
        <select ng-change="changed()" ng-model="a.state">
            <option checked value="not-contacted">Pas contacté</option>
            <option value="message">Message laissé</option>
            <option value="visit-planned">Rendez-vous fixé</option>
            <option value="visited">Visité</option>
          </select>
          <textarea ng-model="a.notes" placeholder="Date de prise de contact. Date du RDV pour la visite. Notes sur l'appartement."></textarea>
      </td>
      <td><img src="../img/loading.gif" width="30px"/></td>
      <td style="opacity:0.5">
        <span class="glyphicon glyphicon-trash delete-entry" aria-hidden="true"></span>
      </td>
      <td style="opacity:0.5"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></td>
    </tr>

    <tr class="entry" ng-repeat="a in data.list.slice().reverse()">

      <td width="130px"><img width="130px" ng-src="{{a.img}}" alt="Apercu"/></td>
      <td width="15%">
        <i class="fa fa-euro" aria-hidden="true"></i>
        <input class="big" type="text" ng-change="changed()" ng-model="a.price" placeholder="Prix"/><br/>

        <i class="fa fa-expand" aria-hidden="true"></i>
        <input class="big" type="text" ng-change="changed()" ng-model="a.superf" placeholder="Superficie"/><br/>

        <i class="fa fa-phone" aria-hidden="true"></i>
        <input class="big" type="text" ng-change="changed()" ng-model="a.contact" placeholder="Contact"/>
      </td>

      <td class="desc" width="30%">
        <textarea ng-change="changed()" ng-model="a.desc"></textarea>
      </td>

      <td class="state" width="20%">
        <select ng-change="changed()" ng-model="a.state">
            <option value="not-contacted">Pas contacté</option>
            <option value="message">Message laissé</option>
            <option value="visit-planned">Rendez-vous fixé</option>
            <option value="visited">Visité</option>
          </select>
          <textarea ng-change="changed()" ng-model="a.notes" placeholder="Date de prise de contact. Date du RDV pour la visite. Notes sur l'appartement."></textarea>
      </td>

      <td width="20%" class="address"><input type="text" ng-change="changed()" ng-model="a.address"></td>

      <td data-toggle="tooltip" data-placement="top" title="Supprimer l'annonce">
        <span class="glyphicon glyphicon-trash delete-entry" aria-hidden="true" ng-click="delete($index)"></span>
      </td>
      <td><a href="{{a.link}}" target="_blank"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></td>

    </tr>

  </table>

</div>


<div class="row visible-xs" style="width:95%;margin:auto;">

  <div style="text-align:center;" class="alert alert-info" ng-if="data.list.length == 0">
    <b>Oh non !</b> Vous n'avez pas d'annonce dans cette liste.<br/>
    Copiez/collez un lien vers une annonce dans la barre en haut puis cliquez sur <b>Ajouter</b>.
  </div>

  <div ng-if="data.list.length == 0" class="row" style="background: white; text-align:center; color: #999; padding-bottom: 2em;">
    <div class="col-md-3">
      <h4>Je ne cherche pas en ce moment</h4><br/>
      <p>Vous pouvez rentrer votre adresse mail pour recevoir un mail le jour où
        vous chercherez un logement.</p>
      <input type="text" placeholder="Adresse email" ng-change="changed()" ng-model="data.email"/>
      <a class="btn btn-success btn-xs" ng-click="save()">Enregistrer</a>
    </div>
    <hr class="visible-xs"/>
    <div class="col-md-9">
      <h4>Lancez vos recherches !</h4>
      <p>Cliquez ci-dessous pour ouvrir les différents sites que nous savons analyser</p>
      <div class="row">
        <div class="col-md-4 col-xs-6" style="margin-bottom: 1em" ng-repeat="w in readableWebsites"><a href="{{w.url}}" target="_blank"><img src="{{w.img}}" alt="{{w.name}}" height="42px"/><br/>{{w.name}}</a></div>
      </div>
    </div>
  </div>

  <div class="col-md-2" ng-repeat="a in data.list.slice().reverse()" style="padding:0;">
    <div class="item">

      <span class="glyphicon glyphicon-trash delete-entry" aria-hidden="true" ng-click="delete($index)"></span>
      <a href="{{a.link}}" target="_blank">
        <i class="fa fa-eye see-entry" aria-hidden="true"></i>
      </a>
      <a href="{{a.link}}" target="_blank">
        <img width="100%" ng-src="{{a.img}}" alt="Apercu"/>
      </a>

      <!-- DEBUG
      <div class="row">
        <div class="col-md-6" ng-repeat="i in a.info" ng-if="i.text != ''" style="font-size: 50%;border:1px solid #eaeaea;">{{i.text}}</div>
      </div>
      -->

      <div class="basic-info">
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        <input type="text" ng-change="changed()" ng-model="a.address"/><br/>

        <i class="fa fa-euro" aria-hidden="true"></i>&nbsp;
        <input type="text" ng-change="changed()" ng-model="a.price" placeholder="Prix"/><br/>

        <i class="fa fa-expand" aria-hidden="true"></i>
        <input type="text" ng-change="changed()" ng-model="a.superf" placeholder="Superficie"/><br/>

        <i class="fa fa-phone" aria-hidden="true"></i>
        <input type="text" ng-change="changed()" ng-model="a.contact" placeholder="Contact"/>

        <select style="width:100%" ng-change="changed()" ng-model="a.state">
          <option value="not-contacted">Pas contacté</option>
          <option value="message">Message laissé</option>
          <option value="visit-planned">Rendez-vous fixé</option>
          <option value="visited">Visité</option>
        </select>
      </div>

      <textarea class="notes" ng-change="changed()" ng-model="a.notes" placeholder="Date de prise de contact. Date du RDV pour la visite. Notes sur l'appartement."></textarea>

    </div>
  </div>

</div>
