
<div id="header">
  <div class="row">
    <div class="col-md-3">
      <form name="EmailForm">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">@</span>
          <input required ng-change="changed()" name="email" ng-pattern="emailFormat" type="text" ng-model="data.email" autocomplete="off" class="form-control" placeholder="Votre adresse email" aria-describedby="basic-addon1">
        </div>
      </form>
    </div>

    <div class="col-md-6" id="brand">
      <a href="/">veasit</a>
    </div>

    <div class="col-md-3">

      Dernière sauvegarde le<br/>
      <i ng-if="!saving">{{data.lastsave}}</i>
      <span ng-if="saving" class="label label-success">Success</span>
    </div>
  </div>
</div>

<div id="add-entry">

  <div class="alert alert-warning" ng-if="!AddForm.link.$valid"><b>Oh non!</b> Ce lien n'est pas valide. Peut-être que ce site n'est pas encore accepté sur notre plateforme.<br/>
    N'hésitez pas à nous envoyez un message sur <a style="color: yellow;" href="https://www.facebook.com/veasit/" target="_blank">Facebook</a> pour nous prévenir ;)</div>
    <form name="AddForm">

  <div class="input-group">
      <input type="text" name="link" autocomplete="off" ng-pattern="linkFormat" class="form-control" ng-model="link" placeholder="Lien vers une annonce (LeBonCoin, SeLoger, PAP, ParuVendu, FNAIM38, AVendreALouer)">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button" ng-click="sendLink()" ng-disabled="link == null || link.length < 15 || !AddForm.link.$valid">Ajouter</button>
      </span>
  </div>
</form>

</div>


<div id="warning-mail" ng-if="data.list.length != 0 && !EmailForm.email.$valid && !unsaved_changes" class="alert alert-warning">
<i>Renseignez une adresse email pour activer la <b>sauvegarde automatique des données</b>.</i>
</div>

<div id="warning-mail" ng-if="data.list.length != 0 && !EmailForm.email.$valid && unsaved_changes" class="alert alert-danger">
<i>Vous avez des données non sauvegardées ! Renseigner une adresse email pour sauvegarder (sinon vous allez tout perdre, ce serait dommage).</i>
</div>

<div class="row" style="width:95%;margin:auto;">
  <div class="col-md-2" ng-repeat="a in data.list.slice().reverse()" style="padding:0;">
    <div class="item" style="background:white;width:95%;margin:auto;border:1px solid #ccc;box-shadow:2px 0 5px rgba(0,0,0,0.3)">

      <span class="glyphicon glyphicon-trash delete-entry" aria-hidden="true" ng-click="delete($index)"></span>
      <a href="{{a.link}}" target="_blank">
        <img width="100%" ng-src="{{a.img}}" alt="Apercu"/>
      </a>

      <!-- DEBUG
      <div class="row">
        <div class="col-md-6" ng-repeat="i in a.info" ng-if="i.text != ''" style="font-size: 50%;border:1px solid #eaeaea;">{{i.text}}</div>
      </div>
      -->

      <div class="basic-info">
        <i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp;
        <input type="text" ng-change="changed()" ng-model="a.address"/><br/>

        <i class="fa fa-euro" aria-hidden="true"></i>&nbsp;
        <input type="text" ng-change="changed()" ng-model="a.price" placeholder="Prix"/><br/>

        <i class="fa fa-expand" aria-hidden="true"></i>
        <input type="text" ng-change="changed()" ng-model="a.superf" placeholder="Superficie"/><br/>

        <i class="fa fa-phone" aria-hidden="true"></i>
        <input type="text" ng-change="changed()" ng-model="a.contact" placeholder="Contact"/>

        <select style="width:100%" ng-change="changed()" ng-model="a.state">
          <option value="not-contacted">Pas contacté</option>
          <option value="message">Message laissé</option>
          <option value="visit-planned">Rendez-vous fixé</option>
          <option value="visited">Visité</option>
        </select>
      </div>

      <textarea class="notes" ng-change="changed()" ng-model="a.notes" placeholder="Date de prise de contact. Date du RDV pour la visite. Notes sur l'appartement."></textarea>

    </div>
  </div>

</div>


<!--
<tr class="entry" ng-repeat="a in data.list.slice().reverse()">

<td width="130px"><img width="130px" ng-src="{{a.img}}" alt="Apercu"/></td>
<td width="15%">
  <i class="fa fa-euro" aria-hidden="true"></i>
  <input class="big" type="text" ng-change="changed()" ng-model="a.price" placeholder="Prix"/><br/>

  <i class="fa fa-expand" aria-hidden="true"></i>
  <input class="big" type="text" ng-change="changed()" ng-model="a.superf" placeholder="Superficie"/><br/>

  <i class="fa fa-phone" aria-hidden="true"></i>
  <input class="big" type="text" ng-change="changed()" ng-model="a.contact" placeholder="Contact"/>
</td>

<td class="desc" width="30%">
  <textarea ng-change="changed()" ng-model="a.desc"></textarea>
</td>

<td class="state" width="20%">
  <select ng-change="changed()" ng-model="a.state">
      <option value="not-contacted">Pas contacté</option>
      <option value="message">Message laissé</option>
      <option value="visit-planned">Rendez-vous fixé</option>
      <option value="visited">Visité</option>
    </select>
    <textarea ng-change="changed()" ng-model="a.notes" placeholder="Date de prise de contact. Date du RDV pour la visite. Notes sur l'appartement."></textarea>
</td>

<td width="20%" class="address"><input type="text" ng-change="changed()" ng-model="a.address"></td>

<td data-toggle="tooltip" data-placement="top" title="Supprimer l'annonce">
  <span class="glyphicon glyphicon-trash delete-entry" aria-hidden="true" ng-click="delete($index)"></span>
</td>
<td><a href="{{a.link}}" target="_blank"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></a></td>

</tr>
-->
